/Users/fsad0002/cvl_github/Data_Collections/nkirs-ndr/nkirs-ndr_2020-08-19/slurm-15281433.ou
/Users/fsad0002/cvl_github/Data_Collections/hcp1200/.README.md.swp
/Users/fsad0002/cvl_github/Data_Collections/hcp1200/.DS_Store
/Users/fsad0002/cvl_github/Data_Collections/.DS_Store
/Users/fsad0002/cvl_github/Data_Collections/.gitignore.swp

